<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="include_header :: header(pageTitle='IRH - Add Publication')"></head>
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container" th:include="include_nav :: navigation(page='add-publication')"></div>
		</nav>
		<!-- Begin page content -->
		<div class="container">
			<div class="page-header">
				<h2>Add Publication</h2>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis commodo quam. Nullam sit amet libero elit. Aliquam orci nulla, molestie eget finibus ut, accumsan sed orci. Mauris massa ligula, elementum eget nunc non, tempus ultricies magna. Cras placerat, enim in efficitur iaculis, arcu lacus feugiat justo, at suscipit dolor urna ac elit. Morbi eget enim sed mi rhoncus faucibus vel nec mauris. Quisque non sem vel urna mattis molestie.</p>
			<form action="#" th:action="@{/add_publication}" th:object="${publicationForm}" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" th:field="*{title}" class="form-control" />
				</div>
				<div class="form-group">
					<label for="year">Year</label>
					<input type="text" th:field="*{year}" class="form-control" />
				</div>
				<div class="form-group">
					<label for="researchFocus">Research Focus</label>
					<textarea th:field="*{researchFocus}" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="theoryDescription">Theory Description</label>
					<textarea th:field="*{theoryDescription}" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="gapsInLiterature">Gaps In Literature</label>
					<textarea th:field="*{gapsInLiterature}" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="measures">Measures</label>
					<textarea th:field="*{measures}" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="findings">Findings</label>
					<textarea th:field="*{findings}" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="neuralAreasImplicated">Neural areas implicated</label>
					<textarea th:field="*{neuralAreasImplicated}" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="limitations">Limitations</label>
					<textarea th:field="*{limitations}" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="queries">Queries</label>
					<textarea th:field="*{queries}" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="thinkingStrategies">Thinking Strategies</label>
					<textarea th:field="*{thinkingStrategies}" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="ideaConnectome">Idea Connectome</label>
					<textarea th:field="*{ideaConnectome}" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="quizzlet">Quizzlet</label>
					<textarea th:field="*{quizzlet}" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="answers">Answers</label>
					<textarea th:field="*{answers}" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="file">Image</label>
					<input type="file" name="files" class="form-control"/><br />
					<input type="file" name="files" class="form-control"/><br />
					<input type="file" name="files" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="authorIds">Authors</label>
					<select th:field="*{authorIds}" multiple="multiple" class="form-control">
						<option th:each="author : ${authors}" 
							th:value="${author.id}" 
							th:text="${author.name}">Author Name</option>
					</select>
				</div>
				<div class="form-group">
					<label for="authorNames">Add new authors</label>
					<input type="text" th:field="*{authorNames}" class="form-control" />
				</div>
				<input type="submit" name="submit" id="submit" class="btn btn-default" value="Save" />
			</form>
		</div>
		<div th:include="include_footer :: footer"></div>
	</body>
</html>