<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="include_header :: header(pageTitle='IRH')"></head>
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container" th:include="include_nav :: navigation(page='home')"></div>
		</nav>
		<!-- Begin page content -->
		<div class="container">
			<div class="page-header">
				<h1>Interactive Research Hub</h1>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis commodo quam. Nullam sit amet libero elit. Aliquam orci nulla, molestie eget finibus ut, accumsan sed orci. Mauris massa ligula, elementum eget nunc non, tempus ultricies magna. Cras placerat, enim in efficitur iaculis, arcu lacus feugiat justo, at suscipit dolor urna ac elit. Morbi eget enim sed mi rhoncus faucibus vel nec mauris. Quisque non sem vel urna mattis molestie.</p>
		</div>
		<div th:include="include_footer :: footer"></div>
	</body>
</html>