<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="footer">
		<footer class="footer">
			<div class="container">
				<p class="text-muted">Interactive Research Hub</p>
			</div>
		</footer>
		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script th:src="@{/dist/js/bootstrap.min.js}"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script th:src="@{/assets/js/ie10-viewport-bug-workaround.js}"></script>
	</body>
</html>