<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="include_header :: header(pageTitle='IRH - Publication Details')"></head>
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container" th:include="include_nav :: navigation(page='publication-details')"></div>
		</nav>
		<!-- Begin page content -->
		<div class="container">
			<div class="page-header">
				<h2>Details</h2>
			</div>
			<p th:text="${publication.title}"></p>
			<p th:text="${publication.year}"></p>
			<p th:text="${publication.researchFocus}"></p>
			<p th:text="${publication.theoryDescription}"></p>
			<p th:text="${publication.gapsInLiterature}"></p>
			<p th:text="${publication.measures}"></p>
			<p th:text="${publication.findings}"></p>
			<p th:text="${publication.neuralAreasImplicated}"></p>
			<p th:text="${publication.limitations}"></p>
			<p th:text="${publication.queries}"></p>
			<p th:text="${publication.thinkingStrategies}"></p>
			<p th:text="${publication.ideaConnectome}"></p>
			<p th:text="${publication.quizzlet}"></p>
			<p th:text="${publication.answers}"></p>
			<p th:each="author: ${publication.authors}">
				<span th:text="${author.name}">Author Name</span><br />
			</p>
		</div>
		<div th:include="include_footer :: footer"></div>
	</body>
</html>