<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<!--  Version: Multiflex-4.2 / Layout-2                     -->
<!--  Date:    January 20, 2008                             -->
<!--  Design:  www.1234.info                                -->
<!--  License: Fully open source without restrictions.      -->
<!--           Please keep footer credits with the words    -->
<!--           "Design by 1234.info" Thank you!             -->

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="3600" />
	<meta name="revisit-after" content="2 days" />
	<meta name="robots" content="index,follow" />
	<meta name="publisher" content="Your publisher infos here ..." />
	<meta name="copyright" content="Your copyright infos here ..." />
	<meta name="author" content="Design: 1234.info / Modified: Your Name" />
	<meta name="distribution" content="global" />
	<meta name="description" content="Your page description here ..." />
	<meta name="keywords" content="Your keywords, keywords, keywords, here ..." />
	<link rel="stylesheet" type="text/css" media="screen,projection,print" href="./css/mf42_layout2_setup.css" />
	<link rel="stylesheet" type="text/css" media="screen,projection,print" href="./css/mf42_layout2_text.css" />
	<link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
	<title>IRH - Add Publication</title>
</head>

<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->

<body>
	<!-- Main Page Container -->
	<div class="page-container">

	<!--  START COPY here -->

	<!-- A. HEADER -->      
	<div class="header">
      
		<!-- A.1 HEADER TOP -->
		<div class="header-top">
			<div class="round-border-topleft"></div><div class="round-border-topright"></div>      
        
			<!-- Sitelogo and sitename -->
			<a class="sitelogo" href="#" title="Home"></a>
			<div class="sitename">
				<h1><a href="index.html" title="Go to Start page">MULTIFLEX&nbsp;&bull;&nbsp;4.2</a></h1> 
				<h2>Open Source Designs</h2>
			</div>
    
			<!-- Navigation Level 0 -->
			<div class="nav0">
			</div>			

			<!-- Navigation Level 1 -->
			<div class="nav1">
			</div>              
		</div>
            
		<!-- A.3 HEADER BOTTOM -->
		<div class="header-bottom">

			<!-- Navigation Level 2 (Drop-down menus) -->
			<div class="nav2">
	
				<!-- Navigation item -->
				<ul>
					<li><a href="index.html">Home</a></li>
				</ul>
	          
				<!-- Navigation item -->
				<ul>
				</ul>                    
			</div>
		</div>

		<!-- A.4 HEADER BREADCRUMBS -->

		<!-- Breadcrumbs -->
		<div class="header-breadcrumbs">
			<ul>
				<li><a href="#">Home</a></li>
			</ul>

			<!-- Search form -->                  
			<div class="searchform">
				<form action="index.html" method="get">
					<fieldset>
						<input name="field" class="field"  value=" Search..." />
						<input type="submit" name="button" class="button" value="GO!" />
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<!--  END COPY here -->

	<!-- B. MAIN -->
	<div class="main">
 
		<!-- B.1 MAIN NAVIGATION -->
		<div class="main-navigation">

			<!-- Navigation Level 3 -->
			<div class="round-border-topright"></div>
			<h1 class="first">Title</h1>
		
			<!-- Navigation with grid style -->
			<dl class="nav3-grid">
				<dt><a href="#">Navlink 11</a></dt>
				<dt><a href="#">Navlink 12</a></dt>
				<dd><a href="#">Navlink 121</a></dd>
				<dd><a href="#">Navlink 122</a></dd>
				<dd><a href="#">Navlink 123</a></dd>
				<dt><a href="#">Navlink 13</a></dt>
				<dt><a href="#">Navlink 14</a></dt>
				<dt><a href="#">Navlink 15</a></dt>
			</dl>
		
			<!-- Title -->
			<h1>Title</h1>
		
			<!-- Subtitle -->
			<h2>Subtitle</h2>
		
			<!-- Navigation with bullets -->
			<dl class="nav3-bullet">
				<dt><a href="#">Navlink 11</a></dt>
				<dt><a href="#">Navlink 12</a></dt>
				<dd><a href="#">Navlink 121</a></dd>
				<dd><a href="#">Navlink 122</a></dd>
				<dd><a href="#">Navlink 123</a></dd>
				<dt><a href="#">Navlink 13</a></dt>
				<dt><a href="#">Navlink 14</a></dt>
				<dt><a href="#">Navlink 15</a></dt>
			</dl>
		
			<!-- Subtitle -->
			<h2>Subtitle</h2>
		
			<!-- Navigation without bullets -->
			<dl class="nav3-nobullet">
				<dt><a href="#">Navlink 11</a></dt>
				<dt><a href="#">Navlink 12</a></dt>
				<dd><a href="#">Navlink 121</a></dd>
				<dd><a href="#">Navlink 122</a></dd>
				<dd><a href="#">Navlink 123</a></dd>
				<dt><a href="#">Navlink 13</a></dt>
				<dt><a href="#">Navlink 14</a></dt>
				<dt><a href="#">Navlink 15</a></dt>
			</dl>
		
			<!-- Login -->
			<h1>Login</h1>
			<div class="loginform">
				<form method="post" action="index.html">
					<p>
						<input type="hidden" name="rememberme" value="0" />
					</p>
					<fieldset>
						<p>
							<label for="username_1" class="top">User:</label>
							<br />
							<input type="text" name="username_1" id="username_1" tabindex="1" class="field" value="" />
						</p>
						<p>
							<label for="password_1" class="top">Password:</label>
							<br />
							<input type="password" name="password_1" id="password_1" tabindex="2" class="field" value="" />
						</p>
						<p>
							<input type="checkbox" name="checkbox_1" id="checkbox_1" class="checkbox" tabindex="3" size="1" value="" />
							<label for="checkbox_1" class="right">Remember me</label>
						</p>
						<p>
							<input type="submit" name="cmdweblogin" class="button" value="LOGIN" />
						</p>
						<p><a href="#" id="forgotpsswd_1">Password forgotten?</a></p>
					</fieldset>
				</form>
			</div>
		
			<!-- Search form -->
			<h1>Search</h1>
			<div class="searchform">
				<form action="index.html" method="get">
					<fieldset>
						<input name="field" class="field" value=" Search..." />
						<input type="submit" name="button" class="button" value="GO!" />
					</fieldset>
				</form>
			</div>
		
			<!-- Text formats -->
			<h1>Heading h1</h1>
			<h2>Heading h2</h2>
			<h3>Heading h3</h3>
		
			<h3>Paragraph text</h3>
			<p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		
			<h3>Bulleted list</h3>
			<ul>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li>Fact 1</li>
				<li>Fact 2</li>
			</ul>
		
			<h3>Ordered list</h3>
			<ol>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li>Fact 1</li>
				<li>Fact 2</li>
			</ol>
		
			<h3>Text orientation</h3>
			<p>Text left.</p>
			<p class="center">Text center.</p>
			<p class="right">Text right.</p>
		
			<h3>Image<br />(text align left)</h3>
			<p><img src="./img/image.jpg" width="50" alt="Image description" title="Image title" />Here is place for text.</p>
			<p><img class="center" src="./img/image.jpg" width="50" alt="Image description" title="Image title" /></p>
			<p><img class="right" src="./img/image.jpg" width="50" alt="Image description" title="Image title" />Here is place for text.</p>
		
			<h3>Image<br />(text align right)</h3>
			<p class="right"><img src="./img/image.jpg" width="50" alt="Image description" title="Image title" />Here is place for text.</p>
			<p class="right"><img class="center" src="./img/image.jpg" width="50" alt="Image description" title="Image title" /></p>
			<p class="right"><img class="right" src="./img/image.jpg" width="50" alt="Image description" title="Image title" />Here is place for text.</p>
		
			<!-- Image Links -->
			<h3>Text link</h3>
			<p><a href="#">Here is a link.</a></p>
		
			<!-- Image Links -->
			<h3>Image link</h3>
			<p>
				<a href="#"><img src="./img/image.jpg" width="50" alt="Image description" title="Image title" /></a>Text as in image sections above.</p>
			<p class="center">
				<a href="#"><img class="center" src="./img/image.jpg" width="50" alt="Image description" title="Image title" /></a>
			</p>
			<p>
				<a href="#"><img class="right" src="./img/image.jpg" width="50" alt="Image description" title="Image title" /></a>Text as in image sections above.</p>
		</div>
 
		<!-- B.1 MAIN CONTENT -->
		<div class="main-content">

			<!-- Pagetitle -->
			<h1 class="pagetitle">Add a Publication</h1>

			<!-- Content unit - One column -->
			<div class="column1-unit">
				<div class="contactform">
					<form action="#" th:action="@{/publication}" th:object="${publicationForm}" method="post" enctype="multipart/form-data">
						<fieldset><legend>&nbsp;PUBLICATION DETAILS&nbsp;</legend>
							<p><label for="title" class="left">Title:</label>
								<input type="text" th:field="*{title}" class="field" /></p>
							<p><label for="year" class="left">Year:</label>
								<input type="text" th:field="*{year}" class="field" /></p>
							<p><label for="file" class="left">Image:</label>
								<input type="file" name="files" /></p>
							<p th:each="author: ${authors}"><input type="checkbox" th:field="*{authorIds}" th:value="${author.id}" class="checkbox" size="1" value="" />&nbsp;<label th:for="${author.id}" th:text="${author.name}">Author Name</label></p>
							<p><label for="authorNames" class="left">Add new authors</label>
								<input type="text" th:field="*{authorNames}" /></p>
							<p><input type="submit" name="submit" id="submit" class="button" value="Save" tabindex="6" /></p>
						</fieldset>
					</form>
				</div>              
			</div>
		</div>
	</div>
      
    <!-- C. FOOTER AREA -->      

    <div class="footer">
      <p>Copyright &copy; 2008 Your Company | All Rights Reserved</p>
      <p class="credits">Design by <a href="http://1234.info/" title="Designer Homepage">1234.info</a> | Modified by <a href="#" title="Modifyer Homepage">Your Name</a> | Powered by <a href="#" title="CMS Homepage">Your CMS</a> | <a href="http://validator.w3.org/check?uri=referer" title="Validate XHTML code">XHTML 1.0</a> | <a href="http://jigsaw.w3.org/css-validator/" title="Validate CSS code">CSS 2.0</a></p>
    </div>      
  </div> 
  
</body>
</html>