<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<!--  Version: Multiflex-4.2 / Layout-2                     -->
<!--  Date:    January 20, 2008                             -->
<!--  Design:  www.1234.info                                -->
<!--  License: Fully open source without restrictions.      -->
<!--           Please keep footer credits with the words    -->
<!--           "Design by 1234.info" Thank you!             -->

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="3600" />
	<meta name="revisit-after" content="2 days" />
	<meta name="robots" content="index,follow" />
	<meta name="publisher" content="Your publisher infos here ..." />
	<meta name="copyright" content="Your copyright infos here ..." />
	<meta name="author" content="Design: 1234.info / Modified: Your Name" />
	<meta name="distribution" content="global" />
	<meta name="description" content="Your page description here ..." />
	<meta name="keywords" content="Your keywords, keywords, keywords, here ..." />
	<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/css/mf42_layout2_setup.css" />
	<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/css/mf42_layout2_text.css" />
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
	<title>IRH - Publication Details</title>
</head>

<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->

<body>
	<!-- Main Page Container -->
	<div class="page-container">

	<!--  START COPY here -->

	<!-- A. HEADER -->      
	<div class="header">
      
		<!-- A.1 HEADER TOP -->
		<div class="header-top">
			<div class="round-border-topleft"></div><div class="round-border-topright"></div>      
        
			<!-- Sitelogo and sitename -->
			<a class="sitelogo" href="#" title="Home"></a>
			<div class="sitename">
				<h1><a href="index.html" title="Go to Start page">MULTIFLEX&nbsp;&bull;&nbsp;4.2</a></h1> 
				<h2>Open Source Designs</h2>
			</div>
    
			<!-- Navigation Level 0 -->
			<div class="nav0">
			</div>			

			<!-- Navigation Level 1 -->
			<div class="nav1">
			</div>              
		</div>
            
		<!-- A.3 HEADER BOTTOM -->
		<div class="header-bottom">

			<!-- Navigation Level 2 (Drop-down menus) -->
			<div class="nav2">
	
				<!-- Navigation item -->
				<ul>
					<li><a href="index.html">Home</a></li>
				</ul>
	          
				<!-- Navigation item -->
				<ul>
				</ul>                    
			</div>
		</div>

		<!-- A.4 HEADER BREADCRUMBS -->

		<!-- Breadcrumbs -->
		<div class="header-breadcrumbs">

			<!-- Search form -->                  
			<div class="searchform">
				<form action="index.html" method="get">
					<fieldset>
						<input name="field" class="field"  value=" Search..." />
						<input type="submit" name="button" class="button" value="GO!" />
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<!--  END COPY here -->

	<!-- B. MAIN -->
	<div class="main">
 
		<!-- B.1 MAIN NAVIGATION -->
		<div class="main-navigation">

			<!-- Navigation Level 3 -->
			<div class="round-border-topright"></div>
			<h1 class="first">Publications</h1>
		
			<!-- Navigation with grid style -->
			<dl class="nav3-grid">
				<dt><a href="/add_publication">Add publication</a></dt>
				<dt><a href="/publications">List all publications</a></dt>
			</dl>
		</div>
 
		<!-- B.1 MAIN CONTENT -->
		<div class="main-content">

			<!-- Pagetitle -->
			<h1 class="pagetitle">Publication Details</h1>

			<!-- Content unit - One column -->
			<div class="column1-unit">
				<p th:text="${publication.title}"></p>
				<p th:text="${publication.year}"></p>
				<p th:text="${publication.researchFocus}"></p>
				<p th:text="${publication.theoryDescription}"></p>
				<p th:text="${publication.gapsInLiterature}"></p>
				<p th:text="${publication.measures}"></p>
				<p th:text="${publication.findings}"></p>
				<p th:text="${publication.neuralAreasImplicated}"></p>
				<p th:text="${publication.limitations}"></p>
				<p th:text="${publication.queries}"></p>
				<p th:text="${publication.thinkingStrategies}"></p>
				<p th:text="${publication.ideaConnectome}"></p>
				<p th:text="${publication.quizzlet}"></p>
				<p th:text="${publication.answers}"></p>
				<p th:each="author: ${publication.authors}">
					<span th:text="${author.name}">Author Name</span><br />
				</p>
			</div>
		</div>
	</div>
      
    <!-- C. FOOTER AREA -->      

    <div class="footer">
      <p>Copyright &copy; 2008 Your Company | All Rights Reserved</p>
      <p class="credits">Design by <a href="http://1234.info/" title="Designer Homepage">1234.info</a> | Modified by <a href="#" title="Modifyer Homepage">Your Name</a> | Powered by <a href="#" title="CMS Homepage">Your CMS</a> | <a href="http://validator.w3.org/check?uri=referer" title="Validate XHTML code">XHTML 1.0</a> | <a href="http://jigsaw.w3.org/css-validator/" title="Validate CSS code">CSS 2.0</a></p>
    </div>      
  </div> 
  
</body>
</html>